<!DOCTYPE html>
<html lang="en">

<head>
  <title>Puck off CoVid-19!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css" />
  <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" type="text/css" href="css/util.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <h2 class="nav-header">Puck off CoVid-19!</h2>
  </nav>
  <div class="main-text">
    <p>This site calculates various averages of increase (and hopefully decrease) in cases of CoVid-19 in Canada. The
    sooner we get rid of this, the sooner we get hockey and other stuff back!</p>
  </div>
  <div></div>
  {{{body}}}
</body>

</html>